.productListWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px 0;
  align-items: center;
}

.productListContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1000px;
  justify-content: center;
}
