nav {
	position: fixed;
	top: 0;
	left: 0;
	height: calc(100vh - 60px);
	width: 220px;
	background-color: #1e1e1e;
	padding: 40px 0 20px;
	box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	justify-content: space-between; /* pushes footer down */
	transition: transform 0.4s ease;
	transform: translateX(0); /* always visible */
	z-index: 100;
}

.nav-links {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

nav li {
	text-align: left;
}

nav a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 10px 20px;
	font-size: 16px;
	border-left: 3px solid transparent;
	transition: background 0.3s, border-color 0.3s;
}

nav a:hover {
	background-color: #333;
	border-left-color: #4CAF50;
}

nav a.active {
	background-color: #4CAF50;
	border-left-color: #4CAF50;
	color: #fff;
}

/* Bottom user section */
.nav-footer {
	/* padding: 20px; */
	border-top: 1px solid #333;
	text-align: center;
}

.username {
	color: #aaa;
	margin-bottom: 8px;
	font-size: 0.9rem;
}

.logout-btn {
	background-color: #4CAF50;
	color: #fff;
	border: none;
	padding: 8px 12px;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.logout-btn:hover {
	background-color: #45a049;
}

/* optional padding for content */
body {
	margin: 0;
	font-family: Arial, sans-serif;
	background: #f9f9f9;
}

main{
	width: 100%;
}
